<div id="pl" class="row phase">
    <div class="phase-label" unselectable="on">Parameters</div>

    <div class="phase-qod-wrapper">
        <div class="phase-qod">
            <input id="l_qod" class="" type="hidden" name="l_qod" value="0">
        </div>
    </div>

    <div class="col-xs-9 pull-xs-3 col-sm-10 pull-sm-2 col-md-5 push-md-1 phase-params linear-params">
        <div class="row">
            <div id="initial" class="col-md-12 dose-param">
                <label class="param-label" for="start_mg">Initial</label>
                <input class="param-input" id="start_mg" name="start_mg" type="tel" value="">
            </div>
            <div id="terminal" class="col-md-12 dose-param">
                <label class="param-label" for="stop_mg">Terminal</label>
                <input class="param-input" id="stop_mg" name="stop_mg" type="tel" value="">
            </div>
        </div>
    </div>

    <div class="col-xs-9 pull-xs-3 col-sm-10 pull-sm-2 col-md-5 push-md-1 phase-params linear-params">
        <div class="row">
            <div id="decrement" class="col-md-12 dose-param">
                <label class="param-label" for="step_mg">Decrement</label>
                <input class="param-input" id="step_mg" name="step_mg" type="tel" value="">
            </div>
            <div id="interval" class="col-md-12 days-param">
                <label id="linear_days_label" class="param-label" for="step_time">Interval</label>
                <input class="param-input" id="step_time" name="step_time" type="tel" value="">
            </div>
        </div>
    </div>


    {#
    <div class="col-md-12 phase-params linear-params">
        <div class="row">
            <div class="col-md-3 dose-param">
                <label class="param-label" for="start_mg">Initial</label>
                <input class="param-input" id="start_mg" name="start_mg" type="tel" value="">
            </div>
            <div class="col-md-3 dose-param">
                <label class="param-label" for="stop_mg">Terminal</label>
                <input class="param-input" id="stop_mg" name="stop_mg" type="tel" value="">
            </div>
            <div class="col-md-3 dose-param">
                <label class="param-label" for="step_mg">Decrement</label>
                <input class="param-input" id="step_mg" name="step_mg" type="tel" value="">
            </div>
            <div class="col-md-3 days-param">
                <label id="linear_days_label" class="param-label" for="step_time">Interval</label>
                <input class="param-input" id="step_time" name="step_time" type="tel" value="">
            </div>
        </div>
    </div>
    #}
    
</div>