<div class="row med-wrapper v-align">

        <div class="col-lg-12 med-col">
            <ul class="med-list">
                <li>
                    <input class="checkbox" type="radio" id="rx_prednisone" name="rx_select" checked>
                    <label class="checked" for="rx_prednisone" unselectable="on">Prednisone</label>
                </li>
            </ul>
        </div>

        <div class="col-lg-12 med-col">
            <ul class="med-list">
                <li>
                    <input class="checkbox" type="radio" id="rx_methylprednisolone" name="rx_select">
                    <label for="rx_methylprednisolone" unselectable="on">Methylprednisolone</label>
                </li>
            </ul>
        </div>

</div>