<div class="row phase">
    <div class="phase-label" unselectable="on">Phase 1</div>

    {#
    <div class="phase-qod-wrapper">
        <div class="phase-qod">
        </div>
    </div>
    
    <div class="phase-qod">
        <input class="checkbox qod" id="qod_1" type="checkbox" name="qod_1">
        <label class="" for="qod_1" unselectable="on">Q.O.D.</label>
    </div>
    #}

    <div class="col-xs-2 phase-num v-align">
        <p unselectable="on">1</p>
    </div>
    <div class="col-xs-2 col-md-1 phase-spacer"></div>
    <div class="col-xs-8 col-md-9 phase-params">
        <div class="row">
            <div class="col-md-6 dose-param">
                <label class="param-label" for="input_dose">Dose</label>
                <input class="param-input" type="text" id="input_dose" name="dose">
            </div>
            <div class="col-md-6 days-param">
                <label class="param-label" for="input_days">Days</label>
                <input class="param-input" type="text" id="input_days" name="days">
            </div>
        </div>
    </div>
</div>



<div class="row phase">
    <div class="phase-label" unselectable="on">Phase 2</div>

    <div class="col-xs-2 phase-num v-align">
        <p unselectable="on">2</p>
    </div>
    <div class="col-xs-2 col-md-1 phase-spacer"></div>
    <div class="col-xs-8 col-md-9 phase-params">
        <div class="row">
            <div class="col-md-6 dose-param">
                <label class="param-label" for="input_dose">Dose</label>
                <input class="param-input" type="text" id="input_dose" name="dose">
            </div>
            <div class="col-md-6 days-param">
                <label class="param-label" for="input_days">Days</label>
                <input class="param-input" type="text" id="input_days" name="days">
            </div>
        </div>
    </div>
</div>
