<table id="Prednisone" class="rx">
    <tbody>
        <tr class='row-0'>
            <td>
                <ul>
                    <li>
                        <input class="checkbox" id="50" type="checkbox" name="size[]">
                        <label for="50" unselectable="on">50 mg</label>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <input class="checkbox" id="20" type="checkbox" name="size[]">
                        <label for="20" unselectable="on">20 mg</label>
                    </li>
                </ul> 
            </td>
            <td>
                <ul>
                    <li>
                        <input class="checkbox" id="10" type="checkbox" name="size[]">
                        <label for="10" unselectable="on">10 mg</label>
                    </li>
                </ul> 
            </td>
            <td>
                <ul>
                    <li>
                        <input class="checkbox" id="5" type="checkbox" name="size[]">
                        <label for="5" unselectable="on">5 mg</label>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <input class="checkbox" id="2-5" type="checkbox" name="size[]">
                        <label for="2-5" unselectable="on">2.5 mg</label>
                    </li>
                </ul> 
            </td>
            <td>
                <ul>
                    <li>
                        <input class="checkbox" id="1" type="checkbox" name="size[]">
                        <label for="1" unselectable="on">1 mg</label>
                    </li>
                </ul> 
            </td>
        </tr>
    </tbody>
</table>