<table id="Methylprednisolone" class="rx hidden">
    <tbody>
        <tr class='row-0'>
            <td>
                <ul>
                    <li>
                        <input class="checkbox" id="32" type="checkbox" name="size[]">
                        <label for="32" unselectable="on">32 mg</label>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <input class="checkbox" id="16" type="checkbox" name="size[]">
                        <label for="16" unselectable="on">16 mg</label>
                    </li>
                </ul> 
            </td>
            <td>
                <ul>
                    <li>
                        <input class="checkbox" id="8" type="checkbox" name="size[]">
                        <label for="8" unselectable="on">8 mg</label>
                    </li>
                </ul> 
            </td>
            <td>
                <ul>
                    <li>
                        <input class="checkbox" id="4" type="checkbox" name="size[]">
                        <label for="4" unselectable="on">4 mg</label>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <input class="checkbox" id="2" type="checkbox" name="size[]">
                        <label for="2" unselectable="on">2 mg</label>
                    </li>
                </ul> 
            </td>
            <td></td>
        </tr>
    </tbody>
</table>