{% extends 'layout.html' %} {% block container %}
<div id="nl_taper">
    <form id="nl_form" method="POST" role="form">
        <div class="container-fluid">
            <section class="row taper-params">

                <div class="col-lg-3 hidden-md-down">
                    <div class="graph-wrapper">
                        <img id="nonlinear_graph" class="" src="{{ url_for('static', filename='img/nonlinear_graph.svg') }}">
                    </div>
                </div>

                <div class="col-lg-9">

                    <div class="row">
                        <div class="cal-param col-lg-12">
                            <div class="cal-wrapper">
                                <span class="input-group-addon" id="datepicker-addon"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
                                <span id="input_date" name="date" contenteditable="false" unselectable="on"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="med-param col-lg-6">
                            {% include 'meds.html' %}
                        </div>
                        <div class="size-param col-lg-6">
                            {% include 'sizes.html' %}
                        </div>
                    </div>

                </div>

            </section>

            {% include 'phases.html' %}
            

        </div>
    </form>
</div>
{% endblock %}
