{% extends 'layout.html' %} {% block container %}

{% if request.url_rule.endpoint != "taper.linear" %}
<div id="nl_taper">
{% else %}
<div id="l_taper">
{% endif %}

    {% if request.url_rule.endpoint == "taper.linear" %}
    <form id="l_form" method="POST" role="form">
        <input type="hidden" name="linear" value="linear" />
    {% else %}
    <form id="nl_form" method="POST" role="form">
    {% endif %}

        {#<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />#}
    

        <div class="container-fluid">


            {% include 'taper-params.html' %}

            {% if request.url_rule.endpoint == "taper.linear" %}
                {% include 'linear-params.html' %}                
            {% endif %}

            {% include 'phases.html' %}
            

        </div> <!-- container-fluid -->
    </form>
</div>
{% endblock %}