{% extends 'layout.html' %} {% block container %}
<div id="fullpage">
    <div id="section00" class="section fp-auto-height">
        <div class="row auto-height">
            <div class="container vc-100">
                <div class="jumbotron jumbotron-fluid wrap-100">
                    <div class="container">
                        <h1 class="text-00 animated fadeInUp">DoseTaper<small>.com</small></h1>
                        <p class="lead-00 animated fadeInUp">A medicinal dose tapering web application.</p>
                        <button class="btn00 animated fadeInUp">Get Started</button>
                    </div>
                </div>
                <a href="#01"><span></span>&nbsp;</a>
            </div>
        </div>
    </div>
    <div id="section01" class="section fp-auto-height fp-noscroll">
        <div class="container">
            <div class="row auto-height nav-offset">
                <div class="col-md-6 vc-50">
                    <div class="wrap-50">
                        <img id="laptop" class="img-fluid center-block" data-src="{{ url_for('static', filename='img/laptop.png') }}">
                        <div class="text-01b hidden-md-up">Input the details of your taper.</div>
                    </div>
                </div>
                <div class="col-md-6 vc-50 hidden-sm-down">
                    <div class="wrap-50">
                        <div class="text-01a">Input the details of your taper.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="section02" class="section fp-auto-height">
        <div class="container">
            <div class="card-deck-wrapper auto-height nav-offset vc-100 center-block">
                <div class="card-deck wrap-100">
                    <div class="card">
                        <img id="calendar" class="card-img-top img-fluid center-block" src="{{ url_for('static', filename='img/landing_cal.png') }}" srcset="{{ url_for('static', filename='img/landing_cal@2x.png') }}">
                        <div class="card-block">
                            <h4 class="card-title">PDF Calendar</h4>
                            <p class="card-text">Print a calendar for your patient.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img id="rxpad" class="card-img-top img-fluid center-block" src="{{ url_for('static', filename='img/landing_rxpad.png') }}" srcset="{{ url_for('static', filename='img/landing_rxpad@2x.png') }}">
                        <div class="card-block">
                            <h4 class="card-title">Rx Calculation</h4>
                            <p class="card-text">DoseTaper calculates the entire Rx.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img id="clipboard" class="card-img-top img-fluid center-block" src="{{ url_for('static', filename='img/landing_clipboard.png') }}" srcset="{{ url_for('static', filename='img/landing_clipboard@2x.png') }}">
                        <div class="card-block">
                            <h4 class="card-title">Copy / Paste</h4>
                            <p class="card-text">Copy to clipbord in one click.</p>
                        </div>
                    </div>
                </div>
                <!-- card-deck -->
            </div>
            <!-- card-deck-wrapper -->
        </div>
        <!-- container -->
    </div>
    <!-- section02 -->
</div>
<!-- fullpage -->
{% endblock %}
