:root {
   @include rem-baseline;
   //@include background-color;
   background-color: #f9f7f6;
}

html,
body {
   width: 100%;
   min-height: 100%;
   margin: 0;
   padding: 0;

   color: $dark-grey;
   //background-color: lighten(#f8f2ed, 2%);
   background-color: #f9f7f6;

   @include font-smoothing;

   font: {
      family: $sans-serif;
      weight: 300;
   }

   a {
      outline: none;
   }

   ::selection {
      color: $off-white;
      background-color: $blueberry;
   }
}

*,
*:after,
*:before {
   @include box-sizing(border-box);
}

/* .content-wrapper {
   overflow: hidden;

   width: 100%;
   min-height: 100%;
   margin: auto;
} */

footer {
   position: fixed;
   z-index: 1;
   bottom: 0;
   height: 50px;

   margin: 0;
   //margin: 0 0 -32000px 0;
   //padding: 0 0 32000px 0;
   border: none;
   @include background-color();
}

.section {
   height: 100%;

   background-position: 50%;
   background-size: cover;
}

#fp-nav {
   z-index: 1;
}