<!DOCTYPE html>
<html lang="en">

<head>
    {# META #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {#<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    {# ICON #}
    {# http://realfavicongenerator.net/ #}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icons/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icons/favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ url_for('static', filename='img/icons/manifest.json') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='img/icons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icons/favicon.ico') }}">
    <meta name="apple-mobile-web-app-title" content="DoseTaper">
    <meta name="application-name" content="DoseTaper">
    <meta name="msapplication-config" content="{{ url_for('static', filename='img/icons/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">

    {# WEBAPP #}
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>DoseTaper</title>
    {% endif %}

    {# CSS #}
    <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">
    {% if request.url_rule.endpoint != "intro.index" %}
        <link href="{{ url_for('static', filename='css/addons.min.css') }}" rel="stylesheet">
        {#
        <link href="{{ url_for('static', filename='js/litetooltip/dist/css/litetooltip.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/pickadate.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/icheck.css') }}" rel="stylesheet">
        #}
    {% endif %}

    {# PREVENT IOS WEBAPP FROM OPENING NEW MOBILE WINDOW #}
    {#<script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>#}

</head>

<body>
    <div class="wrapper">
        
        {# NAVBAR #}

            {% include 'navbar.html' %}


        {# MAIN #}
            
            {% block container %}{% endblock %}


        {# JS #}

            <script src="{{ url_for('static', filename='js/dist/main.min.js') }}"></script>

            {# INTRO #}        
                {% if request.url_rule.endpoint == "intro.index" %}
                    <script src="{{ url_for('static', filename='js/dist/intro.min.js') }}"></script>
                {% endif %}

            {# TAPER #}
                {% if request.url_rule.endpoint == "taper.index" %}
                    <script src="{{ url_for('static', filename='js/dist/taper.min.js') }}"></script>
                {% endif %}

        {# FOOTER #}

            {% if request.url_rule.endpoint != "intro.index" %}
                {% include 'footer.html' %}
            {% endif %}

    </div>
</body>

</html>
