<nav class="navbar navbar-fixed-top">
    <div class="container">
        <a class="pull-xs-left img" href="#"><img id="logo" class="svg" src="{{ url_for('static', filename='img/svg/logo.svg') }}"></a>
        <div class="nav navbar-nav pull-xs-right hidden-sm-down">
            <div class="nav-item vc-nav">
                <a class="nav-link wrap-nav" href="#">Login</a>
                <a class="nav-link wrap-nav" href="#">Disclaimer</a>
            </div>
        </div>
        <div id="ham_nav" class="nav navbar-nav pull-xs-right hidden-md-up vc-nav">
            <a id="ham_icon" class="ham-icon wrap-nav">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </a>
        </div>
        <div class="overlay">
            <ul class="overlay-ul">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <!-- overlay -->
    </div>
</nav>
