{% set navigation = [('#', 'Login'), ('#', 'Disclaimer')] %}
<nav class="navbar navbar-fixed-top">
    <div class="container">
        <a class="pull-xs-left img" href="#"><img id="logo" class="svg" src="{{ url_for('static', filename='img/logo.svg') }}"></a>
        <div class="nav navbar-nav pull-xs-right hidden-sm-down">
            <div class="nav-item vc-nav">
                {% for item in navigation %}
                <a class="nav-link wrap-nav" href="{{ item.0 }}">{{ item.1 }}</a> {% endfor %}
            </div>
        </div>
        <div id="ham_nav" class="nav navbar-nav pull-xs-right hidden-md-up vc-nav">
            <a id="ham_icon" class="ham-icon wrap-nav">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </a>
        </div>
        <div class="overlay">
            <div class="overlay-inner">
                {% for item in navigation %}
                    <div class="overlay-item">
                        <a href="{{ item.0 }}">{{ item.1 }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- overlay -->
    </div>
</nav>
