<div id="ham_nav" class="nav navbar-nav float-xs-right hidden-md-up vc-nav">
    <a id="ham_icon" class="ham-icon wrap-nav">
        {% if request.url_rule.endpoint == "taper.index" %}
            <span class="line line-1 line-dark"></span>
            <span class="line line-2 line-dark"></span>
            <span class="line line-3 line-dark"></span>
        {% else %}
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
        {% endif %}
    </a>
</div>
<div class="overlay">
    <div class="overlay-inner">
        {% for item in navigation %}
            <div class="overlay-item {{ item.2 }}">
                <a href="{{ item.0 }}">{{ item.1 }}</a>
            </div>
        {% endfor %}
    </div>
</div>