@mixin responsive-font-size($min-font-size, $max-font-size, $min-screen-width, $max-screen-width, $font-size-step: 0.1em) {
    font-size: $max-font-size;

    @if $font-size-step <= 0 {
        @warn "parameter to responsive-font-size: font-size-step must be greater than 0";
    }
    @else {
        $min-scale-factor: $min-font-size / $min-screen-width / 1em * 1px;
        $max-scale-factor: $max-font-size / $max-screen-width / 1em * 1px;
        $screen-width: round($max-screen-width);
        $font-size: $max-font-size;

        @while $screen-width >= $min-screen-width {
            $progress: ($screen-width - $min-screen-width) / ($max-screen-width - $min-screen-width);
            $scale-factor: $min-scale-factor + $progress * ($max-scale-factor - $min-scale-factor);
            $font-size: $screen-width * $scale-factor / 1px * 1em;
            $screen-width-step: $font-size-step / $scale-factor / 1em * 1px;
            $screen-width: round($screen-width - $screen-width-step);

            @if $screen-width-step < 1px {
                $screen-width-step: 1px;
            }

            @media all and (max-width: $screen-width) {
                font-size: $font-size;
            }
        }
    }

    @media all and (max-width: $min-screen-width) {
        font-size: $min-font-size;
    }
}


/* Sass Map for Media Queries
---------------------------------------------------------------------------*/
$dimensions: (
    phones: ( min-device-width: 320px, max-device-width: 480px ),
    phones-l: ( min-width: 321px ),
    phones-p: ( max-width: 320px ),
    ipads: ( min-device-width: 768px, max-device-width: 1024px ),
    ipads-l: ( min-device-width: 768px, max-device-width: 1024px, orientation : landscape),
    ipads-p: ( min-device-width: 768px, max-device-width: 1024px, orientation : portrait),
    laptops: ( min-width: 1224px ),
    lg-screen: ( min-width : 1824px )
);

@mixin device-screens($screens...) {
    @each $screen in $screens {
        $map: map-deep-get($dimensions, $screen);

        @if map-has-key($map, min-device-width) {
            $min: map-get($map, min-device-width);
            $max: map-get($map, max-device-width);

            //@error $map;
            @media only screen and (min-device-width: $min) and (max-device-width: $max) {
                @content;
            }
        }
    }
}
/*
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #section00 .jumbotron .text-00 {
        font-size: 100px;
    }
} */


@include between-widths(max-height, 150px, 0, 666);
@mixin between-widths($property, $value, $min, $max) {
    @media (max-width: #{$max}px) and (min-width: #{$min}px) {
        #{$property}: $value;
    }
}
@mixin between-heights($property, $value, $min, $max) {
    @media (max-height: #{$max}px) and (min-height: #{$min}px) {
        #{$property}: $value;
    }
}


/* 0, 544, 768, 992, 1200 */
@mixin responsivePropUp($property, $xs, $sm, $md, $lg, $xl) {
    @include media-breakpoint-up(xs) {
        #{$property}: $xs;
    }
    @include media-breakpoint-up(sm) {
        #{$property}: $sm;
    }
    @include media-breakpoint-up(md) {
        #{$property}: $md;
    }
    @include media-breakpoint-up(lg) {
        #{$property}: $lg;
    }
    @include media-breakpoint-up(xl) {
        #{$property}: $xl;
    }
}

/* 0, 544, 768, 992, 1200 */
@mixin responsivePropDn($property, $xs, $sm, $md, $lg, $xl) {
    @include media-breakpoint-down(xs) {
        #{$property}: $xs;
    }
    @include media-breakpoint-down(sm) {
        #{$property}: $sm;
    }
    @include media-breakpoint-down(md) {
        #{$property}: $md;
    }
    @include media-breakpoint-down(lg) {
        #{$property}: $lg;
    }
    @include media-breakpoint-down(xl) {
        #{$property}: $xl;
    }
}


@mixin retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        @content;
    }
}

@mixin print {
    @media print {
        @content;
    }
}


/* Devices
---------------------------------------------------------------------------*/
@mixin mqu($args...) {
    $media-type: "only screen";
    $media-type-key: "media-type";
    $args: keywords($args);
    $expr: "";

    @if map-has-key($args, $media-type-key) {
        $media-type: map-get($args, $media-type-key);
        $args: map-remove($args, $media-type-key);
    }
    @each $key, $value in $args {
        @if $value {
            $expr: "#{$expr} and (#{$key}: #{$value})";
        }
    }

    @media #{$media-type} #{$expr} {
        @content;
    }
}

@mixin device($devices, $orientation: false) {
    @each $device in $devices {
        $map: map-deep-get($device-list, $device);

        @if length($map) == 2 {
            $min: map-get($map, min);
            $max: map-get($map, max);

            @include mqu($min-width: $min, $max-width: $max, $orientation: $orientation) {
                @content;
            }
        }
        @else {
            @if map-has-key($map, min) {
                $min: map-get($map, min);

                @include mqu($min-width: $min) {
                    @content;
                }
            }
            @else if map-has-key($map, max) {
                $max: map-get($map, max);

                @include mqu($max-width: $max) {
                    @content;
                }
            }
        }
    }
}

/* No greater than $max, no less than $min */
//@mixin between-widths ($element, $property, $value, $min, $max) {
//    @media (max-width: $max) and (min-width: $min) {
//        #{$element} {
//            #{$property}: $value;
//        }
//    }
//}



@mixin responsiveEl($element, $property, $xs, $sm, $md, $lg) {
    @include media-breakpoint-up(xs) {
        #{$element} {
            #{$property}: $xs;
        }
    }
    @include media-breakpoint-up(sm) {
        #{$element} {
            #{$property}: $sm;
        }
    }
    @include media-breakpoint-up(md) {
        #{$element} {
            #{$property}: $md;
        }
    }
    @include media-breakpoint-up(lg) {
        #{$element} {
            #{$property}: $lg;
        }
    }
}


/* Variables
---------------------------------------------------------------------------*/

$device-list: (
    iphone4: ( min: 320px, max: 480px ),
    iphone5: ( min: 320px, max: 568px ),
    iphone6: ( min: 375px, max: 667px ),
    iphone6-plus: ( min: 414px, max: 736px ),
    ipad-mini: ( min: 768px, max: 1024px ),
    ipad-air2: ( min: 414px, max: 736px ),
    sm-screen: ( max: 568px ),
    md-screen: ( min: 569px, max: 1199px ),
    lg-screen: ( min: 1200px )
);