/* VARIABLES */

// colors
$white: #ffffff;
$black: #000000;
$off-white: #e6e6e6;
$off-white-sec: #FDFDFD;
$slate: #555555;
$base: rgba(228, 223, 214, 0.71373); //#F8F2ED
$base-accent: rgb(221, 216, 206); //#DDD8CE
$transparent: rgba(0, 0, 0, 0);

// fonts
//$font-lato: "Lato", "Arial", "Helvetica", "Lucida Grande", "Gill Sans", "Verdana", sans-serif;
//font-family: 'Whitney SSm A', 'Whitney SSm B', system, -apple-system, BlinkMacSystemFont, Avenir, sans-serif
$font-oxygen: 'Oxygen', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-whitney: 'Whitney-HTF', 'Lato', sans-serif;
$font-whitney-c: 'Whitney-HTFC', 'Lato', sans-serif;
$font-pt-sans: 'PT Sans', sans-serif;

$sans-serif: $font-lato;

