/* VARIABLES */

// colors
$white: #ffffff;
$off-white: #e6e6e6;


// font families
$font-oxygen: 'Oxygen', Arial, Verdana, sans-serif;
$font-lato: 'Lato', Arial, Verdana, sans-serif;
$font-montserrat: 'Montserrat', Arial, Verdana, sans-serif;

//$font-raleway: 'Raleway', Arial, Verdana, sans-serif;
//$font-oswald: 'Oswald', Arial, Verdana, sans-serif;
//$shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
//text-shadow: 0 -2.5px 0 darken($whitefff, 20), 0 4px 6px rgba(204, 204, 192, .4), 0 7px 8px rgba(204, 204, 192, .15);