/* Phases
---------------------------------------------------------------------------*/
$control-sm: 54px;
$control-md: 45px;
$control-lg: 50px;
$grow-ratio: 1.5;
$grow-ratio-sm: 1.8;

@include phase-colors();

.phase {
   position: relative;
   @include mq($until: md) {
      height: $control-sm * 4;
   }
   @include mq($from: md) {
      height: $control-md * 4;
      padding: 2em 0;
   }
   @include mq($from: lg) {
      height: $control-lg * 4;
   }

   .phase-label {
      position: absolute;
      font-family: 'Bangers', cursive;
      @include ms-respond(font-size, 1.5);
      top: 10px;
      left: 15px;
      opacity: 0.3;
      width: 20%;

      // Disable text selection
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
   }

   .phase-qod-wrapper {
      position: absolute;
      right: 0;
      top: 0;
      color: rgba(219, 219, 219, 0.8);
      text-shadow: 1px 4px 6px #dc9656, 0px 0px 0px #000, 1px 4px 6px #dc9656;
      text-align: center;
      line-height: 0;

      @include mq($until: md) {
         height: $control-sm;
         width: $control-sm * 2;
      }
      @include mq($from: md) {
         height: $control-md;
         width: $control-md * 2;
      }
      @include mq($from: lg) {
         height: $control-lg;
         width: $control-lg * 3;
      }

      .phase-qod {
         position: relative;
         background-color: $orange;
         color: white;
         height: 100%;
         float: right;
         cursor: pointer;

         @include mq($until: md) {
            width: ($control-sm * $grow-ratio-sm) * 0.8;
         }
         @include mq($from: md) {
            width: ($control-md * $grow-ratio) * 0.8;
         }
         @include mq($from: lg) {
            width: ($control-lg * $grow-ratio) * 0.8;
         }

         // transition
         -webkit-transition: width .2s;
         -moz-transition: width .2s;
         transition: width .2s;

         &:after {
            content: 'Q.O.D.';
            font-family: $font-contrail;
            position: absolute;
            top: 50%;
            right: 0;
            left: 3px;
            font-size: 2rem;
            -webkit-transition: font-size .1s linear;
            -moz-transition: font-size .1s linear;
            transition: font-size .1s linear;
         }

         &:hover {
            width: 100%;

            &:after {
               font-size: 2.8rem;
               left: 0px;
            }
         }

         &.active {
            width: 100%;

            &:after {
               font-size: 2.8rem;
               left: 0px;
            }
         }
      }
   }

   .phase-num {
      font-family: $font-contrail;
      text-align: center;
      position: absolute;
      padding-right: 0;

      // Disable text selection
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;

      p {
         line-height: 1.5;
         font-size: 95px;
         @include mq($until: md) {
            font-size: 80px;
         }
         margin-bottom: -12px;
         padding-bottom: 3px;
      }
   }

   .phase-spacer {
      float: right;
   }

   .phase-params {
      float: right;

      label.fl-label {
         font-family: $font-contrail;
         @include ms-respond(font-size, 1.5);
      }

      input.fl-input {
         font-family: $font-contrail;
         font-weight: 300;
         border-top: 2px transparent;
         border-right: 2px transparent;
         border-left: 2px transparent;
         background-color: transparent;
         @include ms-respond(font-size, 6);
      }

      .dose-param {
         margin: 2.5em 0;
         @include mq($until: md) {
            padding-top: 5px;
         }
      }

      .days-param {
         margin: 2.5em 0;
         @include mq($until: md) {
            padding-top: 5px;
         }
      }
   }
}
$icon-left-initial: 2px;
$icon-left-hover: 0;

.phase-add-delete {
   @include mq($until: md) {
      height: $control-sm * 3;
      width: $control-sm * $grow-ratio-sm;
   }
   @include mq($from: md) {
      height: $control-md * 3;
      width: $control-md * $grow-ratio;
   }
   @include mq($from: lg) {
      height: $control-lg * 3;
      width: $control-lg * $grow-ratio;
   }
   position: absolute;
   right: 0;
   bottom: 0;
   color: #f9f7f6;
   @include ms-respond(font-size, 2);
   text-align: center;
   line-height: 0;

   .phase-del,
   .phase-add,
   .taper-calc {
      @include mq($until: md) {
         height: $control-sm;
      }
      @include mq($from: md) {
         height: $control-md;
      }
      @include mq($from: lg) {
         height: $control-lg;
      }
      width: 80%;
      float: right;
      position: relative;
      -webkit-transition: left .1s;
      -moz-transition: left .1s;
      transition: left .1s;

      &:after {
         font-family: 'FontAwesome';
         position: absolute;
         top: 50%;
         right: 0;
         left: $icon-left-initial;
      }

      &:hover:after {
         left: $icon-left-hover;
      }
   }

   .phase-del {
      background-color: $red;

      &:after {
         content: '\f00d';
      }
   }

   .phase-add {
      background-color: $blue;

      &:after {
         content: '\f067';
      }
   }

   .taper-calc {
      background-color: $green;

      &:after {
         content: '\f1ec';
      }
   }
}
