/* Taper Paramaters
---------------------------------------------------------------------------*/

.taper-params {
   padding: 3rem 1.5rem;
   color: $taper-params;
   background-color: #f9f7f6;

   /* Date
      --------------------------------------------------*/
   .cal-param {
      padding: 0;

      @include mq($from: lg) {
         height: 60px;
      }

      .cal-wrapper {
         text-align: center;
         white-space: nowrap;

         &.cal-hover {
            #input_date,
            .input-group-addon {
               color: $date-hover;
            }
         }

         &:hover {
            #input_date,
            .input-group-addon {
               cursor: pointer;
            }
         }

         #input_date {
            padding: 5px;
            background-color: transparent;
            font-family: $font-opensans;
            font-weight: 700;
            @include ms-respond(font-size, 3.5);
            border: none;
            text-indent: 10px;
            display: inline-block;
            vertical-align: middle;
            outline: none;
         }

         .input-group-addon {
            padding: 0.75rem 0rem 1rem 1rem;
            @include ms-respond(font-size, 3.5);
            background-color: transparent;
            border: none;
            width: initial;
            display: inline-block;
            color: $taper-params;

            .fa-calendar-o:before {
               padding: 1px;
            }
         }
      }
   }

   /* Medication
      --------------------------------------------------*/
   .med-param {
      padding: 0;

      @include mq($from: lg) {
         height: 140px;
      }

      .med-wrapper {
         text-align: center;
         @include mq($until: sm) {
            padding: 1.5rem 0;
         }

         .med-col {
            display: inline-block;
         }
      }

      .med-list {
         //float: left; // NEW
         margin: 0;
         padding: 0;
         list-style: none;
         font-size: 16px;
         font-family: $font-opensans;
         font-weight: 700;
         letter-spacing: 0.05rem;
         text-transform: uppercase;
         @include mq($until: lg) {
            padding: 1rem;
         }
         @include mq($until: sm) {
            padding: 0 1rem;
         }

         label {
            margin: 0;
            padding-left: 1rem;
            vertical-align: middle;

            // Disable text selection
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;

            &:hover {
               cursor: pointer;
            }

            &.checked {
               color: $orange;
            }
         }
      }
   }

   /* Sizes
      --------------------------------------------------*/
   .size-param {
      font-size: 16px;
      font-family: $font-opensans;
      font-weight: 700;
      letter-spacing: 0.05rem;

      // Disable text selection
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;

      @include mq($from: lg) {
         height: 140px;
      }

      table {
         margin: 0 auto;
         border: none;
         @include mq($from: lg) {
            //float: left; // NEW
         }
      }

      tr {
         //border: 1px dashed red;
      }

      td,
      th {
         border: none;
         //border: 1px dashed grey;
         white-space: nowrap;
         padding: 0.25rem 1rem;
      }

      ul {
         list-style: none;
         list-style-position: inside;
         margin: 0;
         padding: 0;
      }

      label {
         margin: 0;
         padding-left: 0.5rem;
         vertical-align: middle;

         &:hover {
            cursor: pointer;
         }

         &.checked {
            color: $red;
         }
      }
   }
}



/* Date Picker PopUp
---------------------------------------------------------------------------*/
.picker__holder {
   font-family: 'Roboto', sans-serif;
   color: #696969 !important;

   .picker__box {
      padding: 0.2em 1em;
   }

   table {
      border: none;

      thead th {
         text-align: center;
         border: none;
      }

      td {
         border: none;
      }
   }

   .picker__day--infocus:hover {
      background: #e8e8e8;
      color: #2f3238;
   }

   .picker__day--outfocus:hover {
      background: #e8e8e8;
      color: #696969;
   }

   .picker__day--highlighted {
      background: #c5d3c3 !important;
      border-color: transparent;
      color: #fff !important;

      &:hover {
         background: #d3ded2 !important;
      }
   }

   .picker__nav--next {
      &:hover {
         color: #e8e8e8;
         background: none;
      }

      &:before {
         border-left: 0.75em solid #696969;
      }

      &:hover:before {
         border-left: 0.75em solid #e8e8e8;
      }
   }

   .picker__nav--prev {
      &:hover {
         color: #e8e8e8;
         background: none;
      }

      &:before {
         border-right: 0.75em solid #696969;
      }

      &:hover:before {
         border-right: 0.75em solid #e8e8e8;
      }
   }

   .picker__day--today {
      &:before {
         border-top: 0.5em solid #696969;
      }
   }

   .picker__button--today,
   .picker__button--close {
      color: #696969;
      padding: 0.5em 0 !important;

      &:hover {
         background: #e8e8e8;
         border-bottom-color: transparent;
         color: #2f3238;
      }

      &:before {
         border: none;
         content: none;
      }
   }

   .picker__day.picker__day--outfocus.picker__day--selected {
      background: none;
      color: #dddddd;

      &:hover {
         background: #e8e8e8;
         color: #696969;
      }
   }
}

.graph-wrapper {
   text-align: center;

   #nonlinear_graph {
      display: inline-block;
      height: 200px;
   }
}