.taper-params {
   position: relative;
   z-index: 1;

   padding: 3rem 6.5rem;

   color: $taper-params;
   background-color: #f9f7f6;

   @include mq($until: sm) {
      padding: 3rem 0;
   }

   .params-row {
      height: 80px;
      @include mq($until: md) {
         height: initial;
      }

      &.row-one {
         margin-bottom: 3rem;
      }

      &.row-two {
         .rx-wrapper {
            height: 100%;
            padding: 0 1.5rem 0 1rem;

            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.03);
            -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
            @include mq($until: sm) {
               width: 100%;
               padding: 0;

               border-radius: 0;
            }
         }
      }
   }

   /// TAPER TITLE

   .title-param {
      font-family: $font-contrail;

      text-align: center;

      height: 100%;
      padding: 0;

      // Disable text selection
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;

      color: rgba(64, 77, 91, 0.8);

      .graph-wrapper {
         display: inline-block;

         height: 100%;
         padding: 0;

         [id$='_graph'] {
            min-height: 100%;
         }
      }

      .taper-title-wrapper {
         display: inline-block;

         .taper-title {
            min-height: 100%;

            text-shadow: 1px 4px 6px #f9f7f6, 0px 0px 0px #000, 1px 4px 6px #f9f7f6;
            @include ms-respond(font-size, 4);
         }
      }
   }

   /// DATE SELECTION

   .cal-param {
      text-align: center;

      height: 100%;
      padding: 0;

      .cal-wrapper {
         text-align: center;
         white-space: nowrap;

         display: inline-block;

         height: 100%;
         padding: 0 1.5rem 0 1rem;

         border-radius: 5px;
         background-color: rgba(0, 0, 0, 0.03);
         -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
         box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);

         @include mq($until: sm) {
            width: 100%;
            padding: 0;

            border-radius: 0;
         }

         .input-group-addon {
            display: inline-block;

            width: initial;

            color: $taper-params;
            border: none;
            background-color: transparent;
            @include ms-respond(font-size, 3.5);

            .fa-calendar-o {
               @include transition(color, $anim-fast);

               &:before {
                  padding: 1px;
               }

               &:hover {
                  cursor: pointer;
               }

               &.cal-hover {
                  color: $date-hover;
               }
            }
         }

         #input_date {
            font-family: $font-opensans;
            font-weight: 600;
            line-height: 80px;

            vertical-align: middle;
            text-indent: 10px;

            padding: 0 1rem;

            // Disable text selection
            -o-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;

            border: none;
            outline: none;
            background-color: transparent;
            @include ms-respond(font-size, 3.5);
            @include transition(color, $anim-fast);

            &:hover {
               cursor: pointer;
            }

            &.cal-hover {
               color: $date-hover;
            }
         }
      }
   }

   /// MEDICATION SELECTION

   .med-param {
      height: 100%;
      @include mq($until: md) {
         padding-top: 1rem;
         padding-bottom: 2rem;
      }

      input[type='text'],
      .tt-menu {
         font-family: $font-contrail;
         font-size: 32px;

         padding: 0;

         color: $taper-params;
         border-top: none;
         border-right: none;
         border-bottom: 1px solid $blackAlpha;
         border-left: none;
         border-radius: 0;
         outline: none;
         @include transition(border-color $anim);

         &:hover {
            border-color: $med-gray;
         }
      }

      input {
         &.typeahead {
            &.tt-hint {
               color: lighten($taper-params, 50%);
               background-color: transparent !important;
            }
         }
      }

      .tt-menu {
         width: 100%;

         border-color: transparent !important;
         border-bottom-right-radius: 2px;
         border-bottom-left-radius: 2px;
         background-color: $med-white;
         -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
         box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
      }

      .tt-selectable {
         @include transition(background-color $anim);

         &:hover {
            background-color: $darkWhite;
         }
      }

      .sup-med-wrapper {
         text-align: center;

         .med-wrapper {
            text-align: left;

            display: inline-block;

            > div {
               height: 100%;

               .twitter-typeahead {
                  width: 270px;
                  height: 100%;

                  input {
                     width: 100%;
                     height: 100%;
                  }
               }
            }
         }
      }
   }


   /// SIZE SELECTION

   .size-param {
      font-family: $font-opensans;
      font-size: 16px;
      font-weight: 700;

      letter-spacing: 0.05rem;

      // Disable text selection
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;

      @include mq($from: lg) {
         height: 100%;
      }

      table {
         text-align: initial;

         margin: 0 auto;

         border: none;
      }

      tr {
      }

      td,
      th {
         white-space: nowrap;

         padding: 0.25rem 1rem;

         border: none;
      }

      ul {
         margin: 0;
         padding: 0;

         list-style: none;
         list-style-position: inside;
      }

      label {
         vertical-align: middle;

         margin: 0;
         padding-left: 0.5rem;
         @include transition(color $anim-fast);

         &:hover {
            cursor: pointer;
         }

         &.hover {
            color: $red;
         }

         &.checked {
            color: $red;
         }
      }

      .sup-size-wrapper {
         text-align: center;
      }

      .size-wrapper {
         display: inline-block;
      }
   }
}



/* Date Picker PopUp
---------------------------------------------------------------------------*/
.picker--opened .picker__holder {
  //-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1E000000,endColorstr=#1E000000)";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF00,endColorstr=#FFFFFF00)" !important;
  background: transparent !important;
    -webkit-transition-property: none !important;
    -moz-transition-property: none !important;
    -o-transition-property: none !important;
    transition-property: none !important;
}
.picker__box {
    border: none !important;
}
.picker__holder {
   font-family: 'Roboto', sans-serif;

   color: #696969 !important;

   .picker__box {
      padding: 0.2em 1em;
   }

   table {
      border: none;

      thead th {
         text-align: center;

         border: none;
      }

      td {
         border: none;
      }
   }

   .picker__day--infocus:hover {
      color: #2f3238;
      background: #e8e8e8;
   }

   .picker__day--outfocus:hover {
      color: #696969;
      background: #e8e8e8;
   }

   .picker__day--highlighted {
      color: #fff !important;
      border-color: transparent;
      background: #c5d3c3 !important;

      &:hover {
         background: #d3ded2 !important;
      }
   }

   .picker__nav--next {
      &:hover {
         color: #e8e8e8;
         background: none;
      }

      &:before {
         border-left: 0.75em solid #696969;
      }

      &:hover:before {
         border-left: 0.75em solid #e8e8e8;
      }
   }

   .picker__nav--prev {
      &:hover {
         color: #e8e8e8;
         background: none;
      }

      &:before {
         border-right: 0.75em solid #696969;
      }

      &:hover:before {
         border-right: 0.75em solid #e8e8e8;
      }
   }

   .picker__day--today {
      &:before {
         border-top: 0.5em solid #696969;
      }
   }

   .picker__button--today,
   .picker__button--close {
      padding: 0.5em 0 !important;

      color: #696969;

      &:hover {
         color: #2f3238;
         border-bottom-color: transparent;
         background: #e8e8e8;
      }

      &:before {
         content: none;

         border: none;
      }
   }

   .picker__day.picker__day--outfocus.picker__day--selected {
      color: #dddddd;
      background: none;

      &:hover {
         color: #696969;
         background: #e8e8e8;
      }
   }
}