// base
@import "base/import";
@import "base/typography";

//helpers
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/settings";

// extensions
@import "extensions/mod_scale";
@import "extensions/mediaq";
@import "extensions/vertical_center";
@import "extensions/hamburger";
@import "extensions/login";

/*
/ -- CONTENTS --
/ Global
/ Navbar
/
*/

:root {
    @include rem-baseline;
}

html, body {
    color: $dark-grey;

    @include font-smoothing;

    font: {
        family: $sans-serif;
        weight: 300;
    };

    a {
        outline: none;
    }

     ::selection {
        color: $off-white;
        background-color: $blueberry;
    }
}

*, *:after, *:before {
    @include box-sizing(border-box);
}
#fp-nav ul li a span {
    background: $light-grey;
}
.navbar {
    height: 120px;
    padding: 0.7rem 1rem;

    border-bottom: 2px solid transparent;
    background-color: transparent;

    .container {
        height: 100%;

        .img {
            height: 100%;

            .svg {
                height: 100%;
                padding: 10px;
            }
        }

        .nav {
            height: 100%;

            .nav-item {
                margin-top: 2px;

                > .nav-link {
                    text-decoration: none;
                    letter-spacing: 2px;
                    word-spacing: 1px;
                    text-transform: uppercase;

                    position: relative;

                    height: initial;
                    padding: 0;

                    color: $white;

                    font: {
                        size: 13px;
                        family: $font-nav;
                        weight: 700;
                    };

                    &:hover {
                        color: $white;
                    }

                    &:before {
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        visibility: hidden;

                        width: 98%;
                        height: 2px;

                        content: "";

                        background-color: $white;

                        @include transition(all 0.15s ease-in-out 0s);
                        @include transform(scaleX(0));
                    }

                    &:hover:before {
                        visibility: visible;

                        @include transform(scaleX(1));
                    }

                    &.nav-dark:before {
                        background-color: $dark-grey;
                    }
                }
            }
        }
    }

    #ham_nav {
        position: relative;
        z-index: 10;

        height: 100%;
    }
}

.section {
    height: 100%;

    background-position: 50%;
    background-size: cover;
}

#section00 {
    background-image: url(../img/section00_bg.jpg);

    .content {
        height: 100%;
        padding-top: 120px;
    }

    .content * {
        color: $white;

        font: {
            family: $sans-serif;
        };
    }

    .container {
        height: 100%;
        padding-bottom: 120px;

        .vc-100 {
            text-align: inherit;

            @include mq($until: md) {
                text-align: center;
            }
        }
    }

    .heading {
        font-family: $font-dt;
        line-height: 1;

        padding-bottom: 10px;

        text-shadow: 0 1px 1px rgba(42, 43, 61, 0.5);

        @include ms-respond(font-size, 7.5);

        span {
            font-family: $font-dt;

            @include opacity(0.2);
        }
    }

    .subheading {
        font-weight: 300;

        padding-bottom: 22px;

        @include ms-respond(font-size, 2.2);
    }

    button {
        font-weight: 400;

        letter-spacing: 0.1em;
        text-transform: uppercase;

        overflow: hidden;

        border: 3px solid $white;
        border-radius: 5px;
        outline: none;
        background: transparent;

        @include ms-respond(padding-top, 0);
        @include ms-respond(padding-bottom, 0);
        @include ms-respond(padding-left, 1);
        @include ms-respond(padding-right, 1);
        @include transition(all 0.5s ease);
        @include transform(translate(0, 0));

        a {
            text-decoration: none;
        }

        &:hover {
            color: $white;
            border: 3px solid transparent;
            background: rgba($white, 0.1);

            @include transition(all 0.35s ease);

            > a {
                @include transition(all 0.35s ease);
            }
        }
    }

    .a-down {
        font-size: 20px;
        line-height: 1;

        text-decoration: none;
        letter-spacing: 0.1em;

        position: absolute;
        z-index: 2;
        bottom: 40px;
        left: 50%;

        display: inline-block;

        @include transform(translate(0, -50%));
        @include transition(opacity 0.3s);

        span {
            position: absolute;
            top: 0;
            left: 50%;

            width: 24px;
            height: 24px;
            margin-left: -12px;

            cursor: pointer;

            border-bottom: 2px solid $white;
            border-left: 2px solid $white;

            @include box-sizing(border-box);
            @include transform(rotate(-45deg));
            @include animation(arrow_down 1.5s infinite);
        }
    }

    .a-down:hover {
        @include opacity(0.5);
    }
}

@include arrow_down;

#section01 {
    .content {
        height: 100%;
        padding-top: 60px;
    }

    .container {
        display: table;

        max-width: 90vw;
        height: 100%;

        .table-row {
            display: table-row;

            height: 100%;

            .table-cell {
                text-align: center;
                vertical-align: middle;

                display: table-cell;

                width: 50%;
            }
        }
    }

    #laptop {
        @include mq($until: md) {
            max-height: 55vh;
        }
    }

    .text-01a {
        @include ms-respond(font-size, 3);
    }

    .text-01b {
        margin-top: 10px;

        @include mq(xs, md) {
            @include ms-respond(font-size, 3.6);
        }
        @include mq(xs, sm_med, $and: "(orientation: portrait)") {
            @include ms-respond(font-size, 1.9);
        }
    }
}

#section02 {
    .fp-scrollable {
        overflow: hidden;

        .iScrollVerticalScrollbar {
            top: 60px !important;

            .iScrollIndicator {
                border: 0 !important;
            }
        }
    }

    .content {
        height: 100%;
        padding-top: 60px;
    }

    .container {
        display: table;

        width: 100%;
        max-width: 95vw;
        height: 100%;

        .table-row {
            display: table-row;

            height: 100%;

            .table-cell {
                text-align: center;
                vertical-align: middle;

                display: table-cell;
            }
        }

        .card-deck {
            text-align: center;

            border-spacing: 0;

            .card {
                border: none;
                background-color: transparent;

                .card-img-top {
                    border-radius: 0;

                    @include mq($from: xs) {
                        @include ms-respond(height, 20);
                    }
                    @include mq($from: sm) {
                        @include ms-respond(height, 22);
                    }
                    @include mq($from: sm_plus) {
                        @include ms-respond(height, 24);
                    }
                    @include mq($from: sm_med) {
                        @include ms-respond(height, 22);
                    }
                    @include mq($from: md) {
                        @include ms-respond(height, 14);
                    }
                    @include mq($from: lg) {
                        @include ms-respond(height, 12.2);
                    }
                    @include mq($until: md, $and: "(orientation: landscape)") {
                        @include ms-respond(height, 18);
                    }
                }

                .card-title {
                    font-family: $font-card;

                    white-space: nowrap;

                    margin: 0.2em 0 0.4em 0;

                    @include ms-respond(font-size, 4);

                    @include mq($until: sm_med) {
                        margin-bottom: 0.2em;
                    }
                }

                .card-text {
                    font-family: $sans-serif;
                    font-weight: 300;

                    @include ms-respond(font-size, 1.5);

                    @include mq($until: sm_med) {
                        margin-bottom: 0.2em;
                    }
                }

                #calendar {
                    @include animation-delay(0.2s);
                }

                #rxpad {
                    @include animation-delay(0.4s);
                }

                #clipboard {
                    @include animation-delay(0.1s);
                }

                @include mq($until: sm_med) {
                    display: block;

                    width: inherit;
                }
            }
        }

        @include mq($until: sm_med) {
            padding-top: 20px;
        }
    }
}

#section03 {
    .fp-scrollable {
        overflow: hidden;

        .iScrollVerticalScrollbar {
            top: 60px !important;

            .iScrollIndicator {
                border: 0 !important;
            }
        }
    }

    .content {
        height: 100%;
        padding-top: 60px;

        p {
            line-height: 1.5;

            text-align: justify;
            text-indent: 3em;
            letter-spacing: 0.025em;
            word-spacing: 0;

            @include ms-respond(font-size, 1.6);

            font: {
                family: $sans-serif;
                weight: 300;
            };
        }

        .p-block {
            p:last-child {
                margin-bottom: 1.5em;
            }
        }

        h1, h3 {
            font-family: $font-cursive;
            line-height: 1;

            margin-bottom: 0.5em;
        }

        h1 {
            text-align: center;

            margin: 0.5em 0;

            border: none;

            @include ms-respond(font-size, 6);
        }

        h3 {
            @include ms-respond(font-size, 4);
        }
    }

    .container {
        width: 66.66667%;
        margin-left: 16.666667%;

        @include mq($until: md) {
            width: initial;
            margin: auto;
        }
    }
}