$white-tan: #f8f2ed;
$white-khaki: #ddd8ce;
$dark-grey: #5c5c5c;

//['#81A2BE', '#DC9656', '#8F9D6A', '#B294BB', '#CC6666']
$blue: #81a2be;
$orange: #dc9656;
$green: #8f9d6a;
$purple: #b294bb;
$red: #cc6666;

// http://www.color-hex.com/color/c5d3c3
$date-hover: $red;
$font-opensans: "Open Sans", sans-serif;
$font-contrail: 'Contrail One', cursive;
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Open+Sans:400,400i,600,600i,700,700i';

.navbar.nav-default {
   height: 60px;
   border-bottom-color: $white-khaki;
   background-color: $white-tan;

   .container {
      #logo {
         padding: 0;
      }

      .nav {
         .nav-item {
            > .nav-link {
               color: $dark-grey;

               &:hover {
                  color: $dark-grey;
               }

               &:before {
                  background-color: $dark-grey;
               }
            }
         }
      }
   }

   #ham_icon {
      .line {
         background: $dark-grey;
      }
   }
}

/* Utilities
--------------------------------------------------*/
.v-align {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
}

body#bumper {
   background-color: #f9f7f6;
}

#nl_taper {
   margin-top: 60px;
}



/* Taper Paramaters
---------------------------------------------------------------------------*/

/* Date, Medication, Sizes
--------------------------------------------------*/

.fl-form {
   .taper-params {
      padding: 3em 1.5em;

      /* Date
      --------------------------------------------------*/
      .cal-param {
         padding: 0;

         .date-wrapper {
            text-align: center;
            white-space: nowrap;

            &.date-hover {
               #input_date,
               .input-group-addon {
                  color: $date-hover;
               }
            }

            &:hover {
               #input_date,
               .input-group-addon {
                  cursor: pointer;
               }
            }

            input[type="text"] {
               padding: 5px;
               background-color: transparent;
               font-family: $font-opensans;
               font-weight: 700;
               @include ms-respond(font-size, 3.5);
               border: none;
               text-indent: 10px;
               display: inline-block;
            }

            .input-group-addon {
               padding: 0.75rem 0rem 1rem 1rem;
               @include ms-respond(font-size, 3.5);
               background-color: transparent;
               border: none;
               width: initial;
               display: inline-block;

               .fa-calendar-o:before {
                  padding: 1px;
               }
            }
         }
      }

      /* Medication
      --------------------------------------------------*/
      .med-param {
         padding: 0;

         .rx-row {
            text-align: center;

            .rx-col {
               display: inline-block;
            }
         }

         .rx-list {
            float: left;
            //padding-right: 60px;
            //padding-left: 2rem;
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 16px;
            font-family: $font-opensans;
            font-weight: 700;
            letter-spacing: 0.05rem;
            //word-spacing: 1px;
            text-transform: uppercase;
            @include mq($until: lg) {
               padding: 1rem;
            }

            label {
               margin: 0;
               padding-left: 1rem;
               vertical-align: middle;

               &:hover {
                  cursor: pointer;
               }

               &.checked {
                  color: $orange;
               }
            }

            li {
               //position: relative;
               //padding-bottom: 15px;
               //padding-left: 38px;
            }
         }
      }

      /* Sizes
      --------------------------------------------------*/
      .size-param {
         font-size: 16px;
         font-family: $font-opensans;
         font-weight: 700;
         letter-spacing: 0.05rem;

         table {
            margin: 0 auto;
            border: none;
            //border: 1px solid orange;
         }

         tr {
            //border: 1px dashed red;
         }

         td,
         th {
            border: none;
            //border: 1px dashed grey;
            white-space: nowrap;
            padding: 0.25rem 1rem;
         }

         ul {
            list-style: none;
            list-style-position: inside;
            margin: 0;
            padding: 0;
         }

         label {
            margin: 0;
            padding-left: 0.5rem;
            vertical-align: middle;

            &:hover {
               cursor: pointer;
            }

            &.checked {
               color: $red;
            }
         }
      }
   }

   .phase {
      position: relative;
      @include mq($from: md) {
         padding: 2em 0;
      }

      .phase-num {
         //['#81A2BE', '#DC9656', '#8F9D6A', '#B294BB', '#CC6666']
         font-family: $font-contrail;
         color: #81a2be;
         text-align: center;
         position: absolute;

         p {
            line-height: 1.5;
            font-size: 95px;
            @include mq($until: md) {
               font-size: 80px;
            }
            margin-bottom: -12px;
            padding-bottom: 3px;
         }
      }

      .phase-params {
         float: right;

         label.fl-label {
            font-family: $font-contrail;
            @include ms-respond(font-size, 1.5);
         }

         input.fl-input {
            font-family: $font-contrail;
            font-weight: 300;
            border-top: 2px transparent;
            border-right: 2px transparent;
            border-left: 2px transparent;
            background-color: transparent;
            @include ms-respond(font-size, 6);
         }

         .dose-param {
            margin: 2.5em 0;
            @include mq($until: md) {
               padding-top: 5px;
            }
         }

         .days-param {
            margin: 2.5em 0;
            @include mq($until: md) {
               padding-top: 5px;
            }
         }
      }
   }
}

/* Date Picker PopUp
--------------------------------------------------*/
.picker__holder {
   font-family: 'Roboto', sans-serif;
   color: #696969 !important;

   .picker__box {
      padding: 0.2em 1em;
   }

   table {
      border: none;

      thead th {
         text-align: center;
         border: none;
      }

      td {
         border: none;
      }
   }

   .picker__day--infocus:hover {
      background: #e8e8e8;
      color: #2f3238;
   }

   .picker__day--outfocus:hover {
      background: #e8e8e8;
      color: #696969;
   }

   .picker__day--highlighted {
      background: #c5d3c3 !important;
      border-color: transparent;
      color: #fff !important;

      &:hover {
         background: #d3ded2 !important;
      }
   }

   .picker__nav--next {
      &:hover {
         color: #e8e8e8;
         background: none;
      }

      &:before {
         border-left: 0.75em solid #696969;
      }

      &:hover:before {
         border-left: 0.75em solid #e8e8e8;
      }
   }

   .picker__nav--prev {
      &:hover {
         color: #e8e8e8;
         background: none;
      }

      &:before {
         border-right: 0.75em solid #696969;
      }

      &:hover:before {
         border-right: 0.75em solid #e8e8e8;
      }
   }

   .picker__day--today {
      &:before {
         border-top: 0.5em solid #696969;
      }
   }

   .picker__button--today,
   .picker__button--close {
      color: #696969;
      padding: 0.5em 0 !important;

      &:hover {
         background: #e8e8e8;
         border-bottom-color: transparent;
         color: #2f3238;
      }

      &:before {
         border: none;
         content: none;
      }
   }

   .picker__day.picker__day--outfocus.picker__day--selected {
      background: none;
      color: #dddddd;

      &:hover {
         background: #e8e8e8;
         color: #696969;
      }
   }
}

