/* Hamburger Icon
---------------------------------------------------------------------------*/
#ham_icon {
    $background: #3d566e;
    $color: #ecf0f1;
    $height-icon: 20px;
    $width-line: 30px;
    $height-line: 4px;
    $transition-time: 0.4s;
    $rotation: 45deg;
    $translateY: $height-icon / 2;
    $translateX: 0;

    position: relative;
    //z-index: 100;
    
    // Disable text selection
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    width: $width-line;
    height: $height-icon;

    cursor: pointer;

    .line {
        position: absolute;
        left: 0;

        display: block;

        width: $width-line;
        height: $height-line;

        background: $color;

        @include border-radius($height-line / 2);
        @include transition(all $transition-time);

        &.line-1 {
            top: 0;
            @include transform(translateY(0px));
        }

        &.line-2 {
            top: 50%;
        }

        &.line-3 {
            top: 100%;
            @include transform(translateY(0px));
        }

        &.line-dark {
            background: $dark-grey;

            @include transition(all $transition-time);
        }

        &.line-active {
            background: $color !important;

            @include transition(all $transition-time);
        }
    }

    &:hover,
    &:focus {
        .line-1 {
            @include transform(translateY($height-line / 2 * -1));
        }

        .line-3 {
            @include transform(translateY($height-line / 2));
        }
    }

    &.active {
        .line-1 {
            @include transform(translateY($translateY) translateX($translateX) rotate($rotation));
        }

        .line-2 {
            transition: opacity 0.1s ease-out;
            @include opacity(0);
        }

        .line-3 {
            @include transform(translateY($translateY * -1) translateX($translateX) rotate($rotation * -1));
        }
    }
}

/* Overlay
---------------------------------------------------------------------------*/
.overlay {
    position: fixed;
    //z-index: 1;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    opacity: 0;
    background: rgba(0, 0, 0, 0.7);

    .overlay-inner {
        vertical-align: middle;

        display: table-cell;

        .overlay-item {
            text-align: center;

            margin: 7px auto;
            padding: 5px;

            a {
                font-family: $font-oxygen;
                font-size: 20px;
                font-weight: bold;

                text-decoration: none;
                letter-spacing: 2px;
                word-spacing: 1px;
                text-transform: uppercase;

                position: relative;

                color: $white;
            }

            a:hover {
                color: $white;
            }

            a:before {
                position: absolute;
                bottom: 0;
                left: 0;

                visibility: hidden;

                width: 98%;
                height: 2px;

                content: "";

                background-color: $white;

                @include transition(all 0.15s ease-in-out 0s);
                @include transform(scaleX(0));
            }

            a:hover:before {
                visibility: visible;

                @include transform(scaleX(1));
            }
        }
    }
}
