/* MIXINS
---------------------------------------------------------------------------*/

// @center: center vertically and/or horizontally an absolute positioned element

@mixin center($xy: xy) {
    @if $xy == xy {
        top: 50%;
        right: auto;
        bottom: auto;
        left: 50%;

        @include transform(translateX(-50%) translateY(-50%));
    }
    @else if $xy == x {
        right: auto;
        left: 50%;

        @include transform(translateX(-50%));
    }
    @else if $xy == y {
        top: 50%;
        bottom: auto;

        @include transform(translateY(-50%));
    }
}


// @column: layout - super light grid - it works with the .cd-container class

@mixin column($percentage, $float-direction: left) {
    float: $float-direction;

    width: 100% * $percentage;
}

@include mq-add-breakpoint(mobile, 737px);

/* STYLE
---------------------------------------------------------------------------*/

input, textarea {
    @include rem(font-size, 16px);

    font: {
        family: $font-login;
        weight: 400;
    };

    &::-ms-clear {
        display: none;
    }
}

.cd-user-modal {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;

    visibility: hidden;
    overflow-y: auto;

    width: 100%;
    height: 100%;

    cursor: pointer;

    opacity: 0;
    background: rgba($black, 0.7);

    @include transition(opacity 0.3s 0, visibility 0 0.3s);

    font: {
        family: $font-login;
        weight: 400;
    };

    input {
        line-height: normal;
    }

    &.is-visible {
        visibility: visible;

        opacity: 1;

        @include transition(opacity 0.3s 0, visibility 0 0);

        .cd-user-modal-container {
            @include transform(translateY(0));
        }
    }
}

.cd-user-modal-container {
    position: relative;

    width: 90%;
    max-width: 600px;
    margin: 3em auto 4em;

    cursor: auto;

    background: $white;

    @include border-radius(0.25em);
    @include transform(translateY(-30px));
    @include transition-property(transform);
    @include transition--duration(0.3s);

    .cd-switcher {
        margin-bottom: 0;
        padding-left: 0;

        @include clearfix;

        li {
            text-align: center;

            @include column(0.5);

            &:first-child a {
                //border-radius: .25em 0 0 0;
                @include border-radius(.25em 0 0 0);
            }

            &:last-child a {
                //border-radius: 0 .25em 0 0;
                @include border-radius(0 .25em 0 0);
            }
        }

        a {
            line-height: 50px;

            text-decoration: none;

            display: block;

            width: 100%;
            height: 50px;

            color: darken($light-grey, 30%);
            background: $light-grey;

            &.selected {
                color: $login-text;
                background: $white;
            }
        }
    }

    @include mq($from: mobile) {
        margin: 4em auto;

        .cd-switcher a {
            line-height: 70px;

            height: 70px;
        }
    }
}

.cd-form {
    padding: 1.4em;

    .fieldset {
        position: relative;

        margin: 1.4em 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    label {
        @include rem(font-size, 14px);

        &.image-replace {
            white-space: nowrap;
            text-indent: 100%;

            position: absolute;
            left: 15px;

            /* replace text with an icon */
            display: inline-block;
            overflow: hidden;

            width: 20px;
            height: 20px;

            color: transparent;
            background-repeat: no-repeat;
            background-position: 50% 0;
            text-shadow: none;

            @include center(y);
        }

        &.cd-username {
            background-image: url(../img/cd-icon-username.svg);
        }

        &.cd-email {
            background-image: url(../img/cd-icon-email.svg);
        }

        &.cd-password {
            background-image: url(../img/cd-icon-password.svg);
        }
    }

    input {
        margin: 0;
        padding: 0;

        @include border-radius(0.25em);

        &.full-width {
            width: 100%;
        }

        &.has-padding {
            padding: 12px 20px 12px 50px;
        }

        &.has-border {
            border: 1px solid $light-grey;

            @include appearance--css3(none);

            &:focus {
                border-color: darken($light-grey, 10%);
                outline: none;
                box-shadow: 0 0 5px darken($light-grey, 10%);
            }
        }

        &.has-error {
            border: 1px solid $login-error;
        }

        &[type=password] {
            /* space left for the HIDE button */
            padding-right: 65px;
        }

        /* BUTTON
        --------------------------------------------------*/
        &[type=submit] {
            font-weight: bold;

            padding: 16px 0;

            cursor: pointer;
            transition: 0.8s;

            color: $white;
            border: none;
            background: $login-btn;

            @include appearance--css3(none);

            &:hover, &:focus {
                color: $white;
                outline: none;
                background: $login-btn-hover;
            }
        }
    }

    .hide-password {
        @include rem(font-size, 14px);

        position: absolute;
        top: 0;
        right: 0;

        display: inline-block;

        padding: 6px 15px;

        color: $login-text;
        border-left: 1px solid $light-grey;

        @include center(y);
    }

    .cd-error-message {
        /* prevent click and touch events */
        pointer-events: none;

        @include rem(font-size, 13px);

        position: absolute;
        z-index: 2;
        bottom: -35px;
        left: -5px;

        display: inline-block;
        visibility: hidden;

        padding: .8em;

        opacity: 0;
        color: #FFF;
        background: rgba($login-error, 0.9);

        @include border-radius(0.25em);
        @include transition(opacity 0.2s 0, visibility 0 0.2s);

        &::after {
            position: absolute;
            bottom: 100%;
            left: 22px;

            /* triangle */
            content: '';

            @include triangle(16px, rgba($login-error, 0.9), up);
        }

        &.is-visible {
            visibility: visible;

            opacity: 1;

            @include transition(opacity 0.2s 0, visibility 0 0);
        }
    }

    @include mq($from: mobile) {
        padding: 2em;

        .fieldset {
            margin: 2em 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        input.has-padding {
            padding: 16px 20px 16px 50px;
        }

        input[type=submit] {
            padding: 16px 0;
        }
    }
}

.cd-form-message {
    line-height: 1.4;

    text-align: center;

    @include rem(font-size, 14px);

    padding: 1.4em 1.4em 0;

    @include mq($from: mobile) {
        padding: 2em 2em 0;
    }
}

.cd-form-bottom-message {
    text-align: center;

    @include rem(font-size, 14px);

    position: absolute;
    bottom: -30px;
    left: 0;

    width: 100%;
    margin: 0;

    a {
        text-decoration: underline;

        color: #FFF;
    }
}

.cd-close-form {
    white-space: nowrap;
    text-indent: 100%;

    position: absolute;
    top: -40px;
    right: 0;

    /* form X button on top right */
    display: block;
    overflow: hidden;

    width: 40px;
    height: 40px;

    background: url(../img/cd-icon-close.svg) no-repeat center center;

    @include mq($from: lg) {
        display: none;
    }
}

#cd-login, #cd-signup, #cd-reset-password {
    display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
    display: block;
}